{
  "presets": ["es2015", "react"],
  "plugins": [
    ["module-resolver", {
      "root": ["../"],
      "alias": {
        "Main": "./app/components/Main.jsx",
        "Nav": "./app/components/Nav.jsx",
        "AppStyles": "./app/styles/app.scss",
        "Timer": "./app/components/Timer.jsx",
        "Countdown": "./app/components/Countdown.jsx",
        "Clock": "./app/components/Clock.jsx"
      }
    }]
  ]
}